/* CSS declarations go here */
body {
    font-family: sans-serif;
    background-color: #337dff;
    background-image: linear-gradient(to bottom, #337dff, #3fc5ff, #337dff 100%);
    background-attachment: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

#title{
    color: #ebd64d;
    text-align: center;
    font-size: 3em;
    margin-bottom: 150px;
}

#usr {
    display: block;
    font-size: 4em;
    color: #EBD64D;
    margin: 0 auto 25px;
    text-align: center;
}

#username {
    display: block;
    width: 519px;
    height: 63px;
    margin: 0 auto 70px;

}

#pswd {
    display: block;
    font-size: 4em;
    color: #EBD64D;
    margin: 0 auto 25px;
    text-align: center;
}

#password {
    display: block;
    width: 519px;
    height: 63px;
    margin: 0 auto 70px;
}

#sch {
    display: block;
    font-size: 4em;
    color: #EBD64D;
    margin: 0 auto 25px;
    text-align: center;
}

#school {
    display: block;
    width: 519px;
    height: 63px;
    margin: 0 auto 70px;
}

#btn {
    display: block;
    margin: auto;
    width: 141px;
    height: 63px;
    font-size: 3em;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    min-height: 100%;
    background: white;
}

header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 20px 15px 15px 15px;
    position: relative;
}

#login-buttons {
    display: block;
}

h1 {
    font-size: 1.5em;
    margin: 25px auto 0;
    background-color: #2853ff;
    width: 250px;
    border-style: solid;
    border-color: black;
    border-radius: 20px;
}

h2 {

}

form {
    margin-top: 10px;
    margin-bottom: -10px;
    position: relative;
}

.new-task input {
    box-sizing: border-box;
    padding: 10px 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 80px;
    font-size: 1em;
}

.new-task input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li .text {
    margin-left: 10px;
}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 600px) {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 150px;
        clear: both;
    }

    .new-task input {
        padding-bottom: 5px;
    }
}