/* CSS declarations go here */
html,body{font-size: 62.5%; }
*{box-sizing: border-box;}
body {
    font-family: sans-serif;
    background-color: #337dff;
    background-image: linear-gradient(to bottom, #337dff, #3fc5ff, #337dff 100%);
    background-attachment: fixed;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0;
    margin: 0;
}

label {
    color:#ebd64d;
}

#title{
    color: #ebd64d;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 15rem;
}

#usr {
    display: block;
    font-size: 4rem;
    color: #EBD64D;
    margin: 0 auto 2.5rem;
    text-align: center;
}

#username {
    display: block;
    width: 51.9rem;
    height: 6.3rem;
    margin: 0 auto 7rem;

}

#pswd {
    display: block;
    font-size: 4rem;
    color: #EBD64D;
    margin: 0 auto 2.5rem;
    text-align: center;
}

#password {
    display: block;
    width: 51.9rem;
    height: 6.3rem;
    margin: 0 auto 7rem;
}

#sch {
    display: block;
    font-size: 4rem;
    color: #EBD64D;
    margin: 0 auto 2.5rem;
    text-align: center;
}

#school {
    display: block;
    width: 51.9rem;
    height: 6.3rem;
    margin: 0 auto 7rem;
}

#btn {
    display: block;
    margin: auto;
    width: 14.1rem;
    height: 6.3rem;
    font-size: 3rem;
}

.container {
    background: #fffec1;
}

header {
    background: #d2edf4;
    background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
    padding: 2rem 15px 15px 15px;
    position: relative;
}

#login-buttons {
    display: block;
}

h1 {
    font-size: 1.5em;
    margin: 25px auto 0;
    background-color: #2853ff;
    width: 25rem;
    border-style: solid;
    border-color: black;
    border-radius: 2rem;
}

h2 {

}

form {
    margin-top: 1rem;
    margin-bottom: -1rem;
    position: relative;
}

.new-task input {
    box-sizing: border-box;
    padding: 1rem 0;
    background: transparent;
    border: none;
    width: 100%;
    padding-right: 8rem;
    font-size: 1em;
}

.new-task input:focus{
    outline: 0;
}

ul {
    margin: 0;
    padding: 0;
    background: white;
}

.delete {
    float: right;
    font-weight: bold;
    background: none;
    font-size: 1em;
    border: none;
    position: relative;
}

li {
    position: relative;
    list-style: none;
    padding: 15px;
    border-bottom: #eee solid 1px;
}

li .text {
    margin-left: 1rem;
}

li.checked {
    color: #888;
}

li.checked .text {
    text-decoration: line-through;
}

li.private {
    background: #eee;
    border-color: #ddd;
}

header .hide-completed {
    float: right;
}

.toggle-private {
    margin-left: 5px;
}

@media (max-width: 60rem) {
    li {
        padding: 12px 15px;
    }

    .search {
        width: 15rem;
        clear: both;
    }

    .new-task input {
        padding-bottom: 5px;
    }
}

#grp {
    font-size: 8rem;
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    height: 15rem;
}

.spngrp {
    font-size: 8rem;
    color: #EBD64D;
    line-height: 15rem;
}

.course {
    font-size: 4rem;
    text-align: center;
    color: #1e00ff;
    display: block;
    background-color: #9bc6ff;
    padding: 5rem 0;
}

.course:nth-child(odd) {
    background-color: #fffec1;
}

.courses {
    height: calc(100vh - 25rem);
    width: 100%;
    overflow: auto;
}

#btn2 {
    display: block;
    margin: 3rem auto ;
    width: 14.1rem;
    height: 6.3rem;
    font-size: 3rem;
}

.ftrbtn {
    height: 10rem;
}

.description {
    margin: 0;
    display:block;
}

.grphdr {
    height: 24rem;
    padding: 0;
}

.newg {
    text-align: center;
    font-size: 5rem;
    color: #ebd64d;
}

.nme {
    text-align: center;
    display: block;
    font-size: 5rem;
    margin: 3rem auto 0;
}

.username {
    display: block;
    margin: 0 auto 3rem;
    width: 34.6rem;
    height: 4.2rem;
    font-size: 5rem;
}

.dte {
    display: block;
    font-size: 5rem;
    text-align: center;
}

.password {
    display: block;
    margin: 0 auto 3rem;
    width: 34.6rem;
    height: 4.2rem;
    font-size: 5rem;
}

.mnos {
    display: block;
    font-size: 5rem;
    text-align: center;
}

.school {
    display: block;
    margin: 0 auto 3rem;
    width: 34.6rem;
    height: 4.2rem;
    font-size: 5rem;
}

.crte {
    display: block;
    margin: 3rem auto;
    width: 11.0rem;
    height: 4.2rem;
    font-size: 2rem;
}
.navbut {
    width: 45%;
    height: 9rem;
    font-size: 3rem;
    margin:0;
    border: 0;
    padding: 0;
    float:left;
    border-top: solid 1px rgba(0,0,0,.9);
}
.navbut:nth-child(3){float:right;}



.clearfix:after {
    content:" ";
    display:table;
    clear:both;
}
.hombut {
    width: 9rem;
    height: 9rem;
    float: none;
}
.hombut svg{height: 7rem; width: 7rem;}




#navigation_container {
    text-align:center;   display: block;
    margin: auto;

    width: 100%;
    height: 9rem;
}

.sec {
    display: block;
}

section {font-size: 1.8rem; }

section div{padding: 1rem;}


.group-title{border: 0; margin: 0; width: 100vw;}

#field1 {
    text-align:center;
    font-size: 5rem;
    color:#ebd64d;
}

.field {
    font-size:5rem;
    width: 100px;
    height: 100px;

